# Traefik & DuckDNS
DUCKDNS_TOKEN=your-duckdns-token-here
DUCKDNS_SUBDOMAIN=ecoguardian
DOMAIN_NAME=ecoguardian.duckdns.org
LETSENCRYPT_EMAIL=your-email@example.com
LOCAL_IP=192.168.1.14

# InfluxDB
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=adminpassword
INFLUXDB_INIT_ORG=maison
INFLUXDB_INIT_BUCKET=plante_data
# Token Admin (A remplacer par un token sur long terme)
INFLUXDB_INIT_ADMIN_TOKEN=your-very-long-admin-token-here
# CrowdSec
CROWDSEC_BOUNCER_API_KEY=