# InfluxDB Configuration
# URL publique accessible depuis le navigateur (Client-side)
VITE_INFLUX_URL=https://ecoguardian.duckdns.org:8086

# Token d'accès (Lecture seule recommandée pour le frontend)
VITE_INFLUX_TOKEN=your-influxdb-token-here
VITE_INFLUX_ORG=maison
VITE_INFLUX_BUCKET=plante_data

# Discord Webhook (Optionnel)
VITE_DISCORD_WEBHOOK_URL=your-discord-webhook-url
